.form {
    margin: 0 auto !important;
    float: none !important;
}
.jumbtron {
    padding-top: 60px;
}
h5{
    display: inline;
}
input, select{
    margin:0 10px 0 10px;
    float:right;
    width:200px;
}

.invalid-feedback{
    display:inline-block;
    position: fixed;
    left:70%;
    width:30%;
}

.wrapper {
    display:table-cell;
    vertical-align:middle;
}